.icon-nav-hamburguesa{
    background: url("../resources/Menu_Hamburguesa.png");
    background-size: contain;
    background-repeat: round;
    min-width: 48px;
    min-height: 48px;
    border: 0;
}

.icon-submodding{
    background: url("../resources/Logo2.jpeg");
    background-size: cover;
    background-repeat: round;
    min-width: 48px;
    min-height: 48px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 0;
}

.icon-lupa{
    background: url('../resources/Lupa.png');
    background-size: contain;
    background-repeat: round;
    min-width: 36px;
    min-height: 36px;
}

.icon-person{
    background: url("../resources/Person.png");
    background-size: cover;
    background-repeat: round;
    min-width: 48px;
    min-height: 48px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 0;
}

.icon-languaje{
    background: url("../resources/Spain.png");
    background-size: cover;
    background-repeat: round;
    min-width: 48px;
    min-height: 48px;
    border-radius: 32px;
    box-sizing: border-box;
    border: 0;
}

.icon-heart{
    background: url("../resources/corazon.png");
    background-size: cover;
    background-repeat: round;
    min-width: 48px;
    min-height: 48px;
    box-sizing: border-box;
    border: 0;
}

.icon-cart{
    background: url("../resources/carrito.png");
    background-size: cover;
    background-repeat: round;
    min-width: 48px;
    min-height: 48px;
    box-sizing: border-box;
    border: 0;
}

.icon-sony{
    background: url("../resources/sony.png");
    background-size: cover;
    background-repeat: round;
    min-width: 48px;
    min-height: 48px;
    box-sizing: border-box;
    border: 0;
}

.icon-steam{
    background: url("../resources/steam.png");
    background-size: cover;
    background-repeat: round;
    min-width: 48px;
    min-height: 48px;
    box-sizing: border-box;
    border: 0;
}

.icon-epicgames{
    background: url("../resources/epic.png");
    background-size: cover;
    background-repeat: round;
    min-width: 48px;
    min-height: 48px;
    box-sizing: border-box;
    border: 0;
}